<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Connection Error</title>
<meta name="robots" content="nocache">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="//links.mifans.web.id/favicon.ico?"/>
<link rel="stylesheet" href="/lost/lost.css?">
<script src="/lost/respon.js?" async="async"></script>
<script src="/lost/moderen.js?" async="async"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?utm_source=externalerror&utm_medium=hgsuspage&utm_campaign=client404">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="wrapper">
<header class="header bg_white">
<div class="container">
 
</div>
</header>
<section class="banner bg_white banner--404">
<h1>Kehilangan Sumber..</h1>
<p>Koneksi ke server atl-srv1.hub.us.mifans.biz.id lepas</p>
<div class="banner__bg"></div>
</section>
<section class="margin__btm">
<div class="container">
<div class="row">
<div class="content col__6">
<h2 class="content__headline">Mengapa saya melihat ini?</h2>
<p>Anda melihat ini karena ada masalah saat menghubungi server lain via hub yang telah di setel pada konfigurasi rDNS server utama</p>
</div>
<div class="content content--bdr col__6">
<h2 class="content__headline">Bagaimana mengatasi ini?</h2>
<p>
Tunggulah beberapa saat lagi sampai semua server saling terhubung, atau kontak <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="abdcc6ebc6c2cdcac5d885dccec985c2cf">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script> untuk melaporkan masalah ini.
</p>
</div>
</div>
</div>
</section>
<div class="snappy__bg">
<div class="container">
 
</div>
</div>
</div>
<footer class="sticky">
<div class="arrow__bg"></div>
<div class="container">
<div class="row">
<div class="col__6">
<div class="v_middle">
<h3>Melihat ini terlalu lama?</h3>
<h2>Coba hubungi dukugan!</h2>
</div>
</div>
<div class="col__6">
<a href="http://status.mifans.web.id" class="btn">Lihat informasi!</a>
</div>
</div>
</div>
</footer>
</body>
</html>
